.notification {

    &:hover {
        fill: skyblue;
    }
}

.setting {

    &:hover {
        opacity: 0.7;
    }
}

.list {
    &:hover {
        opacity: 0.7;
    }
}

.arrow {
    fill: white;
    stroke: skyblue;
    &:hover {
        fill: skyblue;
        stroke: white;
        cursor: pointer;
        
    }
}

.like {
    fill: red;
}

.view {
    fill: gray;
}

.toggleon {
    stroke: rgb(255, 252, 237);
    fill: rgb(116, 116, 250);
}
