@use '@/utils/toremfunc.scss';


.contents {
    position: relative;
    width: 100%;
    max-width: toRem(toremfunc.$page_content_maxwidth);
    margin: 0 auto 0;
	padding-top: toRem(toremfunc.$headerH); 
}