@use  '@/utils/toremfunc.scss';

.write--optionbar {
    position: absolute;
    right: 0;
    align-self: flex-start;
    padding: toremfunc.toRem(10);
    width: fit-content; height: fit-content;
    .write--optionbar--button {
        width: toremfunc.toRem(35);
        @media(max-width: 450px) {
            width: toremfunc.toRem(25);
        }
    }
}