@import '../../../../../utils/toremfunc.scss';
@import '../../../../../fonts/Font-Face.module.scss';

.content {
    width: 100%;
    padding: toRem(10) toRem(20);
    box-sizing: border-box;

    .content_wrapper {
        position: relative;
        .content_paragraph {
            line-height: 1.5;
            overflow-wrap:break-word;
            margin: toRem(10) 0;
        }
    }
}