@font-face {
    font-family: '--main-font';
    src: url("./Noto_Sans/NotoSans-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: '--main-font';
    src: url("./Noto_Sans/NotoSans-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: '--main-font-kr';
    src: url('./Noto_Sans_KR/NotoSansKR-Medium.otf');
    font-weight: 400;
}

@font-face {
    font-family: '--main-font';
    src: url('./Noto_Sans/NotoSans-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: '--main-font-kr';
    src: url('./Noto_Sans_KR/NotoSansKR-Bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: '--main-font';
    src: url('./Noto_Sans/NotoSans-ExtraBold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: '--main-font-kr';
    src: url('./Noto_Sans_KR/NotoSansKR-Black.otf');
    font-weight: 900;
}



@font-face {
    font-family: '--partition-main-font';
    src: url('./Antons/Anton-Regular.ttf');
    font-weight: 400;
}

