@font-face {
    font-family: '--nav-main-font';
    src: "./Noto_Sans/NotoSans-Medium.ttf";
    font-weight: 500;
}

@font-face {
    font-family: '--partition-main-font';
    src: './Antons/Anton-Regular.ttf';
    font-weight: regular;
}