@import '../../../../utils/toremfunc.scss';
@import '../../../../fonts/Font-Face.module.scss';

.bar {
    position: fixed;
    bottom: 0;
    width:100%;
    max-width: toRem($page_content_maxwidth);
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.9);
    padding: toRem(10) toRem(30) toRem(10);

    
}