@import '../../utils/toremfunc.scss';

.contents {
    position: relative;
    width: 100%;
    max-width: toRem($page_content_maxwidth);
	padding-top: toRem($headerH);
    margin: 0 auto 0;
    height: 150vh;
}