@import  '../../utils/toremfunc.scss';
@import '../../fonts/Font-Face.module.scss';


.nav {
    position: fixed;
    top: 0;
    left:0;
    height: toRem($headerH);
    width: 100%;
    display: flex;
    font-family: '--nav-main-font';
    font-weight: 500;
    z-index: 10;
    background-color: white;
    flex-direction: row;

    > div {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 toRem(10);
    }

    .logo {
        img {
            height: inherit;
        }
    }

    .title {

    }
    
    .search {
        input {
            height: 40%;
            width: toRem(200);
            border-radius: toRem(10);
            transition: width 0.5s ease-in-out;
			
			&:focus-within {
				outline: none;
				border-color: skyblue;
                width: toRem(400);
			}
        }

        .search_icon {
            position: absolute;
            width: toRem(30);
            right: toRem(10);
        }
    }

    .title {
        flex-grow: 1;
    }

    .icon {
        flex-basis: toRem(40);
        cursor: pointer;
    }
}

