figure {
    display: block;
    margin: 0;
}

h4, h3 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: initial;
}

button {
    all: unset;
}