figure {
    display: block;
    margin: 0;
}

h4, h3, p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: initial;
}

textarea, ul, li {
    all: unset;
}


button, a {
    all: unset;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    padding: 0;
}