@function toRem($value) {
    @return $value / 16 + rem
};

// @function toRemAdd($toRemV, $v2) {
//     $rem: $toRemV / 16 + rem;
//     $res: calc($rem + $v2);
//     @return $res;
// };


//global variable
$headerH: 80;
$page_content_maxwidth: 1200;

//post-create page variable
$intro-thumbnailH:500;
$content--font-Height: 20;