@import '../../../../../utils/toremfunc.scss';
@import '../../../../../fonts/Font-Face.module.scss';



    .bar_upper {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;

        .like, .share, .exclamation, .hideshowtoggle {
            flex-basis: toRem(35);
            margin: 0 toRem(3);
        }

        .share {
            margin-bottom: toRem(3);
        }

        .hideshowtoggle {
            margin-left: auto;
        }

    }

    @media (max-width: 450px) {
        .bar_upper {
            .like, .share, .exclamation, .hideshowtoggle {
                flex-basis: toRem(30);
            }
        }
    }