@import '../../../../../utils/toremfunc.scss';
@import '../../../../../fonts/Font-Face.module.scss';



    .bar_upper {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;

        .like, .share, .exclamation, .hideshowtoggle {
            position: relative;
            flex-basis: toRem(35);
            aspect-ratio: 1;
            margin: 0 toRem(3);
            cursor: pointer;
        }

        .share {
            margin-bottom: toRem(3);
        }

        .hideshowtoggle {
            margin-left: auto;
        }

    }
