@import '../../utils/toremfunc.scss';

.article_feed {
    position: relative;
    display: inline-block;
    width: toRem(400);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    margin: 0 toRem(10);
}