@import '../../../utils/toremfunc.scss';
@import '../../../fonts/Font-Face.module.scss';


.container {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    left: toRem(20);
    right: toRem(20);
    padding: toRem(5);
    border-bottom: 2px dotted skyblue;
    background: rgba(192, 235, 255, 1);
    box-sizing: border-box;

    .colorPalette {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: toRem(10);

        .colors {
            width: toRem(17);
            border-radius: 50%;
            overflow: hidden;

            .color {
                width: 100%;
                height: 100%;
            }
        }
    }
}