@import '../../../utils/toremfunc.scss';

.thumbnail {
	position: relative;
	height: toRem($intro-thumbnailH);
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display:flex;
	flex-wrap: row nowrap;
	box-sizing: border-box;
	border: 2px solid #EBEBEB;
	
	.thumbnail_optionbar {
		position: absolute;
		height: fit-content;
		width: fit-content;
		padding: toRem(15);
		box-sizing: border-box;
		right: 0;
		background-color: rgba(255,255,255,0.3);
		align-self: center;
		
		.thumbnail_optionbar--imageAdd, .thumbnail_optionbar--imageDelete, .thumbnail_optionbar--alignment {
			width: toRem(35);
			aspect-ratio: 1;
			cursor: pointer;
			display: block;
		}
	}
}