@import '../../../utils/toremfunc.scss';
@import '../../../fonts/Font-Face.module.scss';

.write {
    position: relative;
    width: 100%;
    display: flex;
    .write--content {
        width: 70%;
        height: 150vh;
        position: relative;
        margin: 0 auto 0;
        padding: toRem(20);
        box-sizing: border-box;
        border: 2px solid #EBEBEB;
        &:focus-within {
            outline: none;
        }
    
        .line{
            line-height: toRem(20);
            height: fit-content;
            position: relative;
            padding: 0;
            margin: toRem(6) 0;
            word-break: break-word;
            font-family: '--main-font-kr', '--main-font';
            &:first-child::before {
                content:"내용을 입력해주세요";
                opacity: 0.3;
            }
            caret-color: skyblue;
        }
    
        .line--noplaceholder {
            &:first-child::before {
                opacity: 0;
                width: 0;
                height: 0;
                box-sizing: border-box;
                overflow: hidden;
                display: inline-block;
            }
        }
        

        .imageContainer {
            width: 100%;
            height: fit-content;
            box-sizing: border-box;
            border: none;
            position: relative;
            margin: toRem(15) 0;

            img {
                width: 100%;
            }
        }

        .imageContainer--highlight {
            &::after {
                content:"";
                position: absolute;
                height: 100%;
                width: 100%;
                border: 4px solid skyblue;
                box-sizing: border-box;
                top: 0;
                left: 0;
            }
        }
    }

    .write--optionbar {
        position: absolute;
        right: 0;
        align-self: flex-start;
        padding: toRem(10);
        width: fit-content; height: fit-content;
        .write--optionbar--button {
            width: toRem(35);
        }
    }

}

